/* Hero Image and Text Style */

/* Overall Page Style */
h1 {
    letter-spacing: 2px;
    background-color:silver;
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
    text-align: center; 
}

h2, h3, h4, h5 {
    letter-spacing: 2px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Image Style */
.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}